html, body {
	padding: 0;
	margin: 0;
    background-color: #888;
}
#canvas {
    position: relative;
    margin: auto;
    background-color: #ffffff;
    overflow: hidden;
}
.line {
	position: absolute;
    z-index: 20;
}
.plane {
    position: absolute;
    z-index: 10;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;	
}
.black {
    background-color: black;
}
.grey {
    background-color: #c0c0c0;
}
.none {

}
.shutter {
    position: absolute;
    background-color: #f8f8f8;
    z-index: 100;
}

@keyframes translate-left-to-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes translate-right-to-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.move-from-left-to-right {
    animation-name: translate-left-to-right;
}

.move-from-right-to-left {
    animation-name: translate-right-to-left;
}

@keyframes expand-vertical {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes expand-horizontal {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.expand-left-to-right {
    animation-name: expand-horizontal;
    transform-origin: left;
}

.expand-top-to-bottom {
    animation-name: expand-vertical;
    transform-origin: top;
}
.expand-bottom-to-top {
    animation-name: expand-vertical;
    transform-origin: bottom;
}

.line, .plane, .shutter {
    will-change: transform;
}