html, body {
	padding: 0;
	margin: 0;
    background-color: #888;
}
#canvas {
    position: relative;
    margin: auto;
    background-color: #ffffff;
}
.line {
	position: absolute;
    z-index: 20;
}
.plane {
    position: absolute;
    z-index: 10;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;	
}
.black {
    background-color: black;
}
.grey {
    background-color: #c0c0c0;
}
.none {

}