html, body {
	padding: 0;
	margin: 0;
    background-color: #888;
    background-image: url(wall.png);
}

#border {
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    overflow: hidden;
    border: 10px solid #f0f0f0;
    filter: drop-shadow(10px 10px 4px #404040);
    border-radius: 2px;
}

#control-panel {
    margin-right: 20px;
    background-color: #f0f0f0;
    opacity: 0.6;
    float: right;
    padding: 5px 20px;
    text-align: right;
    margin-bottom: 5px;
}

.title {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #be2622;
}

#state-button {
    background:url(pause.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    cursor:pointer;
}

#state-button.play {
    background:url(play.png) no-repeat;
}

.canvas {
    position: relative;
    background-color: #fbfbfb;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.line {
    will-change: transform;
	position: absolute;
    z-index: 200;
}

    .line.tape {
        filter: drop-shadow(0 0 3px #404040);
    }
        .line.tape.black {
            filter: drop-shadow(0 0 2px #c0c0c0);
        }


.plane {
    will-change: transform;
    position: absolute;
    z-index: 100;
}

    .grey .plane {
        opacity: 0.70;
    }

.step {
    will-change: transform;
    position: absolute;
    z-index: 100;
}
.shutter {
    will-change: transform;
    position: absolute;
    background-color: #f8f8f8;
    z-index: 1000;
}

.red {
	background-color: hsl(0, 100%, 41%);
}
    .red.darker {
        background-color: hsl(0, 100%, 38%);
    }
    .red.lighter {
        background-color: hsl(0, 100%, 44%);
    }
.yellow {
	background-color: hsl(60, 100%, 45%);
}
    .yellow.darker {
        background-color: hsl(60, 100%, 42%);
    }
    .yellow.lighter {
        background-color: hsl(60, 100%, 48%);
    }

.blue {
	background-color: hsl(240, 100%, 41%);
}
    .blue.darker {
        background-color: hsl(240, 80%, 38%);
    }
    .blue.lighter {
        background-color: hsl(240, 80%, 44%);
    }
.black {
    background-color: #000000;
}
.white {
    background-color: #f4f4f4;
}
.grey {
    background-color: hsl(0, 0%, 65%);
}
    .grey.darker {
        background-color: hsl(0, 0%, 60%);
    }
    .grey.lighter {
        background-color: hsl(0, 0%, 70%);
    }
    .grey.light {
        background-color: hsl(0, 0%, 78%);
    }
.none {

}

@media print {

    html, body {
        background-color: #ffffff;
        background-image: none;
    }

    #border {
        filter: none;
    }

    #control-panel {
        display: none;
    }

    #border {
        border: 5px solid #888888;
    }
}